{% extends 'layout.html' %} {% block title %} About Us {% endblock %} {% block body %}
<div class="container">
  <div class="starter-template">
    <h1>KELOMPOK 6 ARM1 (Dashboard Production Control System)</h1>

    <section class="text-center"><img src= {{ url_for('static', filename = "process-control-systems.jpg" )}} width="800" class="rounded-circle"/></section>
    <p class="lead">
      Anggota : <br />
      1. Muhammad Faris A (19/441202/SV/16554) <br />
      2. Tania Desnatasari (19/441212/SV/16564) <br />
      3. Bramantyo Wahyu K (19/447113/SV/16832) <br />
      4. Muhammad Risang D (19/447119/SV/16838) <br />
      5. Zaenal Muttaqin (19/447129/SV/16848)
    </p>
  </div>
</div>
<!-- /.container -->
{% endblock %}
